<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/src/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vite App</title>
  </head>
  <body>
    <div id="root"></div>
    <script>
      const config = '<%- config %>';
      window.config = JSON.parse(config);
      console.log(window.config);
    </script>
    <!-- if development -->
    <% if (env === 'development') { %>
      <script type="module">
        import RefreshRuntime from "http://localhost:3010/@react-refresh"
        RefreshRuntime.injectIntoGlobalHook(window) 
        window.$RefreshReg$ = () => {}
        window.$RefreshSig$ = () => (type) => type
        window.__vite_plugin_react_preamble_installed__ = true
      </script>
      <script type="module" src="http://localhost:3010/@vite/client"></script>
      <script type="module" src="http://localhost:3010/src/main.tsx"></script>
    <% } %>
    <!-- if production -->
    <% if (env === 'production') { %>
      <link rel="stylesheet" href="<%= mainCss %>" />
      <script type="module" src="<%= mainJs %>"></script>
    <% } %>
  </body>
</html>
